includes:
    - phpstan.baseline.neon
parameters:
    level: 7
    paths:
        - src/
        - tests/
        - RoboFile.php
    excludePaths:
        - tests/_log/
        - tests/_support/_generated/
