parameters:
	typeAliases:
		dev-php-executable: '''
			array{
				enabled: bool,
				envVars?: array<string, ?string>,
				command: string,
				arguments?: array<string, ?string>,
			}
		'''
		dev-process-result: '''
			array{
				exitCode: int,
				stdOutput: string,
				stdError: string,
			}
		'''
